/*  Fuentes de Google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Satisfy&display=swap');

/* Estilos generales  && Etiquetas */
  * {
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: Poppins;
    margin: 0;
    padding: 0;
  }

  #root {
    --light-color: #DDE6ED;
    --light-blue-color: #9DB2BF;
    --medium-dark-color: #526D82;
    --dark-color: #27374D;
    --bg-color-alt: #EEEEEE;
    --flat-dark-color: #352F44;
  }

  body {
    padding-top: 60px;
  }

  /* Estilos del hero */
  .hero-overlay {
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  /* Estilos de libros recomendados */
  .img-szi {
    width: auto;
    height: 150px;
  }
  .card-text {
    font-size: 11px;
  }

  /* === Media Responsive === */

  @media screen and (max-width: 766px) {
    .card {
      width: 150px;
    }
  }

  @media screen and (min-width: 766px) {
    /* .card {
      width: 300px;
    }
    .img-szi {
      width: auto;
      height: 300px;
    } */
  }
  .card {
    width: 150px;
  }

  .card-body {
    height: 150px;
  }

  .card-title {
    font-size: 14px;
  }

  .hide {
    display: none;
  }

  .btn-guardar {
    position: absolute;
    padding: 10px 10px;
    outline: none;
    border: none;
    border-radius: 100%;
    font-size: 15px;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: #555;
  }

  .icono-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #27374D;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    border-radius: 100%;
}

.contenedor-flotante {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}

.contenedor-flotante-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #27374D;
    color: white;
}

#btnCerrar {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

.contenedor-flotante-body {
    padding: 10px;
}

.libro-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.libro-titulo {
  margin: 0;
  flex-grow: 1;
  font-size: 15px;
}

.btn-eliminar {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}


